<div class="light-widget">
    <form>
        <fieldset>
            <legend>direction</legend>
            <label class="w27">X:</label><span class="light-direction-x"></span>
            <label class="w27">Y:</label><span class="light-direction-y"></span>
            <label class="w27">Z:</label><span class="light-direction-z"></span>
        </fieldset>
        <fieldset>
            <legend>rotation</legend>
            <div><label class="w27">X</label><input class="light-rotation-x"/></div>
            <div><label class="w27">Y</label><input class="light-rotation-y"/></div>
            <div><label class="w27">Z</label><input class="light-rotation-z"/></div>
        </fieldset>
        <fieldset>
            <legend>color</legend>
            <input type="text" class="light-color">
        </fieldset>
        <fieldset>
            <legend>visibility</legend>
            <label>enable light&nbsp;</label><input type="checkbox" value="true" class="light-enable" checked="checked">
        </fieldset>
    </form>
</div>