/* ------ basic style -------- */

h1, h2, h3, h4, h5, h6 {
    font-weight:normal;
    color: @Text;
    border-bottom: 1px solid @Lightyellow;
    padding-bottom: 9px;
    margin-top: 2em;
    &:first-child {
        margin-top: 0;
    }

    &.undecorated {
        border: none;
        padding: 0;
    }

    &.unfollowed {
        margin-bottom: 0;
    }

    small {
        color: @TextLight;
    }
}

h1 {font-size:2em;line-height:1;margin-bottom:1em;}
h2 {font-size:1.7em;line-height:1;margin-bottom:0.75em;}
h3 {font-size:1.5em;line-height:1;margin-bottom:1em;}
h4 {font-size:1.2em;line-height:1.25;margin-bottom:1.25em;}
h5 {font-size:1em;font-weight:bold;margin-bottom:1.5em;}
h6 {font-size:1em;font-weight:bold;}
h1 img, h2 img, h3 img, h4 img, h5 img, h6 img {margin:0;}

html {font-size:100.01%;}

body {
    margin: 0; padding: 0;
    top:0px;
    background-color: #fafafa;
    font-stretch: expanded;
    font: 13px "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 18px;
    color: @Text;
}

a {
    text-decoration:none;
    font-weight: bold;
    color: @Lightgreen;

    &:hover {color: @Darkgreen;}
    &:focus {border: 0; outline: none;}
}

p {margin: 0 0 1.5em;}
.fl-left {float: left !important;}
p .fl-left {margin: 1.5em 1.5em 1.5em 0;padding:0;}
.fl-right {float: right !important;}
p .fl-right {margin: 1.5em 0 1.5em 1.5em;padding:0;}
.right {text-align: right;}
.left {text-align: left;}
.center {text-align: center;}
.small {font-size: 67%;}
.large {font-size: 1.5em; line-height: 1em;}

hr {
    border: 0;
    border-bottom: 1px solid @Lightgrey;
    padding: 0; margin: 0;
    margin-bottom: 1.5em;
}

fieldset {
    border: 0;
    border-top: #999 1px dashed;
    padding: 9px 0;
}

fieldset legend {
    margin: 0; padding: 0;
    padding-right: 9px;
    font-weight: bold;
    font-size: .9em;
    text-align: left;
}

fieldset + fieldset {
    margin-top: 9px;
}

// ----------------- text styles --------------------

p.infobox {
    background-color: @Lightyellow;
    padding: 2em;
}

div.float-section {
    margin: 0 0 1.5em;
    
    img {
        float: left;
        margin: 0 20px 20px 0;
    }

    clear: both;
    &:after {
        content: ".";
        display: block;
        clear: both;
        visibility: hidden;
        line-height: 0;
        height: 0;
    }
}

/* ----------------- form -------------------------- */

input[type="text"], input[type="email"], input[type="url"], textarea { 
    background-color: @Lightgrey;
    box-shadow: 0 1px 2px @Shadowcolor inset;
    border-radius: 3px;
    border: 0;
    padding: 5px;
    border-bottom: 1px solid white; 
}

input[type="submit"], input[type="button"], button {
    padding: 3px 9px;
    border-radius: 5px;
    box-shadow: 0 1px 2px @Shadowcolor;
    background-color: @Lightgrey;
    border:0;
    border-top: 1px solid white;

    &:hover {
        background-color: @Lightyellow;
    }
}

label.w27 {
    width: 27px;
    display: inline-block;
    padding-left: 2px;
}
