// ------------------ Colors -----------------------
@Text: #333;
@TextLight: #aaa;
@Lightyellow: #e3ec56;
@Lightgreen: #b5c21d;
@Darkgreen: #5f7707;
@Lightgrey: #f3f3f3;
@Shadowcolor: rgba(0,0,0,0.2);

// ----------------------- Mixins -------------------------

.reflexion {
    border-top: white 1px solid;
}

.content {
    .reflexion;
    background-color: rgba(255, 255, 255, 0.7);
}   
